//this is the heroes scss file
$divcenter: 0 auto;
$primary: #000;
$basefontsize: 1em;
$baseHeaderSize:1.5em;
$white: #fff;

li{
    list-style-type:none;
    border:1px solid $primary;
    padding:20px;
}

.heroesListBlock{
    display:block;
    text-align:left;
    margin:$divcenter;
    width:max-content;
}
.heroName{
    color:$white;
    border-radius:20px;
    box-shadow:none;
    border:0px;
    font-size:$baseHeaderSize;
    width:50%;
    padding:10px;
}